<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
      veritatis
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam ratione,
        neque rerum assumenda ipsam nisi pariatur odit magnam, veritatis autem
        quod accusamus impedit tenetur aut dolorem labore alias molestias! Non.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/easy.png 1x, images/easy@2x.png 2x"
      />
      <img class="feature__img" src="images/easy@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam ratione,
        neque rerum assumenda ipsam nisi pariatur odit magnam, veritatis autem
        quod accusamus impedit tenetur aut dolorem labore alias molestias! Non.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/fast.png 1x, images/fast@2x.png 2x"
      />
      <img class="feature__img" src="images/fast@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam ratione,
        neque rerum assumenda ipsam nisi pariatur odit magnam, veritatis autem
        quod accusamus impedit tenetur aut dolorem labore alias molestias! Non.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/Wordpress.webp 1x, images/Wordpress@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/Wordpress.png 1x, images/Wordpress@2x.png 2x"
      />
      <img class="feature__img" src="images/Wordpress@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam ratione,
        neque rerum assumenda ipsam nisi pariatur odit magnam, veritatis autem
        quod accusamus impedit tenetur aut dolorem labore alias molestias! Non.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/support.webp 1x, images/support@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/support.png 1x, images/support@2x.png 2x"
      />
      <img class="feature__img" src="images/support@2x.jpg" alt="" />
    </picture>
  </article>
</section>
